body {
	font-family: 'Ubuntu', Helvetica, sans-serif;
	font-weight: 300;
}

a {
color: #388E3C;
text-decoration: none;
font-weight: 400;
}

a:hover{
	color: #00E676;
}

input {
	font-size: 1.25em;
	padding: 1rem;
}


#container { 
	margin: 40px;
}

footer {
	font-size: 0.75em;
}

ul.flashes { 
	padding: 0;
	border-bottom: 1px solid #aaa;
}

ul.flashes li {
	list-style: none;
	color: #F44336;
	padding-bottom: 1em;
}

#loading {
	text-align: center;
	font-size: 2em;
	display: none;
}

button.add-field {
	cursor: pointer;
	border: none;
	color: #fff;
	background: #4CAF50;
	font-size: 1em;
}
button.remove-field { 
	display: none; 
	background: #F44336;
	cursor: pointer;
	border: none;
	color: #fff;
}

input[type='submit'] {
	font-size: 1em;
	border: none;
	background: #388E3C;
	color: #fff;
	padding: 0.5em;
	margin-top: 1em;
}

div.verba-url {
	padding: 2rem;
	background: #4CAF50;
	font-size: 2em;
	text-align: center;
	border-radius: 0.25rem;
	border: none;
}
div.verba-url:hover {
	background: #00C853;
}
a.verba-url {
	text-decoration: none;
	color: #fff;	
}

h2.title {
	padding-bottom: 1rem;
	border-bottom: 1px solid #000;
}

.course { 
	margin: 1em 0;
	padding: 2em;
}

.course li {
	list-style: none;
	margin: 0 0.5em;
	list-style: none;
	font-size: 1.2em;
	line-height: 2em;
}

.course ul {
	padding: 0;
}

span.reqlabel {
color: #fff;
padding: 0.5em;
font-size: 0.8rem;
font-weight: 400;
text-transform: uppercase;
margin-right: 0.5em;
}

span.not-required {
	background: #D4E157;
}
span.required {
	background: #FF9800;
}

.instructor { 
	font-weight: 400;
}

table { 
	border-collapse: collapse;
}
table td {
	padding: 1em;
	border-bottom: 1px solid #aaa;
}

.card { 
	box-sizing: border-box;
	box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.26);
}