{% extends "base.html" %}
{% block body %}
{% if info.url %}
<div class="url">
	<a href="{{ info.url }}" class="verba-url">
		<div class="verba-url">View at CMU bookstore</div>
	</a>
	<p>If a course isn't listed here, then it probably doesn't have any textbooks listed right now. Not guaranteed to be complete.</p>
</div>
{% endif %}
<div id="books">
	<div class="grid">
	{% for course in info.courses %}
	<div class="course  grid__col grid__col--1-of-2">
		<h2 class="title">
			{{ course.name }} 
			<span class="instructor">
				({{ course.instructor or 'Instructor TBD' }}, {{ course.sections }})
			</span>	
		</h2>
		
		<ul>
		{% for book in course.books %}
			<li class="book isbn-{{ book.isbn }}">
				{% if book.required %}
				<span class="reqlabel required">Required</span>
				{% else %}
				<span class="reqlabel not-required">Optional</span>
				{% endif %}
				<em>{{ book.title }}</em>, by {{ book.author }} (<a href="http://www.amazon.com/gp/search?keywords={{ book.isbn }}">ISBN {{ book.isbn }}</a>)
			</li>
		{% else %}
		<div class="book no-book">
			<div class="title">No required books found for this course.</div>
		</div>	
		{% endfor %}
		</ul>
	</div>	
	
	{% else %}
	<div class="no-book">
		<h1>No books listed for these courses.</h1>
	</div>	
	{% endfor %}	
</div>	
<footer>
	<a href="{{ url_for('home') }}">Back</a>
</footer>	
{% endblock %}