{% extends "base.html" %}
{% block body %}
<div class="verba-url">
	<a href="{{ info.url }}">View at CMU bookstore</a>
</div>

<div id="books">
	{% for course in info.courses %}
	<div class="course">
		<h2 class="title">{{ course.name }} ({{ course.instructor or 'Instructor TBD' }}, sections {{ course.sections }})</h2>
		{% for book in course.books %}
		<table class="book required-{{ book.required }} isbn-{{ book.isbn }}">
			<tr class="title">
				<td>Title</td> <td>{{ book.title }}</td>
			</tr>
			<tr class="author">	
				<td>Author</td> <td>{{ book.author }}</td>
			</tr>
			<tr class="isbn">	
				<td>ISBN</td> <td>{{ book.isbn }}</td>
			</tr>
			<tr class="extra">	
				<td>More info</td> <td>{{ book.citation|safe }}</td>
			</tr>	
		</div>	
		{% else %}
		<div class="book no-book">
			<div class="title">No required books found for this course.</div>
		</div>	
		{% endfor %}
	</div>	
	{% endfor %}
</div>	

{% endblock %}