{% extends "base.html" %}
{% block body %}
	<a href="{{ info.url }}" class="verba-url">
		<div class="verba-url">View at CMU bookstore</div>
	</a>

<div id="books">
	{% for course in info.courses %}
	<div class="course">
		<h2 class="title">
			{{ course.name }} 
			<span class="instructor">
				({{ course.instructor or 'Instructor TBD' }}, sections {{ course.sections }})
			</span>	
		</h2>
		
		{% for book in course.books %}
		<table class="book required-{{ book.required }} isbn-{{ book.isbn }}">
			<tr class="title">
				<td><strong>Title</strong></td> <td>{{ book.title }}</td>
			</tr>
			<tr class="author">	
				<td><strong>Author</strong></td> <td>{{ book.author }}</td>
			</tr>
			<tr class="isbn">	
				<td><strong>ISBN</strong></td> <td>{{ book.isbn }}</td>
			</tr>
			<tr class="extra">	
				<td><strong>More info</strong></td> <td>{{ book.citation|safe }}</td>
			</tr>	
		</div>	
		{% else %}
		<div class="book no-book">
			<div class="title">No required books found for this course.</div>
		</div>	
		{% endfor %}
	</div>	
	{% endfor %}
</div>	

{% endblock %}